.footer {
    background-color: #242424;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links-footer {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.linkwrapper {
    display: flex;
}

.linkitems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.linkitems a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.linkitems:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

